$navbar-default-bg: #336699;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo 

{
  color:white;
  float:left;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover

{
  colot:#fff;
  text-decoration:none;
  
}



#articles_link {  
  color:white;
  float:left;
  font-size: 1em; 
  color:#fff;
  text-decoration:none;}

.center {text-align:center;}
.jumbotron 
{
  background-image:url("/assets/IMG_5843.JPG");
  background-size: cover ;
  height:600px;
}


.article-actions {
     border-top: 1px solid #eaeaea;
     padding-top: 5px;
     }

.description {
     margin-top: 0;
     }

.article-title {
      font-weight: bold;
      font-size: 1.5em;
      }
      
.article-body {
      border-top: 1px solid #eaeaea;
      padding-top: 15px;
      padding-bottom: 15px;
      }

.footer {
    color:black;
    text-align:right; 
    padding:5px;
    position: fixed;
    bottom: 10px;
    right: 5px;
    width: 100%;
}

#divhometext
  {
    margin:80px;
    text-align:center;  
    font-size: 1.9em;  
    color:#3333cc;
    font-family:"Courier New", "Times New Roman";
    font-weight: bold;
    letter-spacing:2px;
  }  